<h3>What's your name?</h3>
<form action="/new_player" method="post">
	<input type="text" name="player_name"/>
	<br/>
	<input type="submit" value="submit" class="btn"/>
</form>


<!--
<form method="POST" action="/">
  <fieldset>
    <label>Your Username</label>
    <input type="text" name="username" placeholder="Type something…">
    <span class="help-block">Example block-level help text here.</span>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
-->